[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
ipykernel = "*"
pandas = "*"
anytree = "*"
tqdm = "*"
bokeh = "*"
ipywidgets = "*"
selenium = "*"
phantomjs = "*"
jupyter = "*"
jupyter-tabnine = "*"

[requires]
python_version = "3.7"
